<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChessMaster - Play Online Chess</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="main-page.component.css">
</head>
<body>
  <header>
    <div class="container">
      <nav class="navbar">
        <div class="logo">
          <img src="assets/chess.png" alt="Chess Logo">
          <p>Chess-Balajka</p>
        </div>
      </nav>
    </div>
  </header>

  <main>
    <section class="hero">
      <div class="hero-container">
        <div class="hero-content">
          <h1>Hrajte šach online</h1>
          <p>Pripojte sa k miliónom hráčov na celom svete v dokonalom šachovom zážitku. Vyzvite priateľov alebo otestujte svoje schopnosti proti našej AI.</p>
        </div>
        <div class="hero-image">
          <img src="assets/Chessboard.png" alt="Chess board with pieces">
          <div class="chess-pieces">
          </div>
        </div>
      </div>
    </section>

    <section class="game-modes">
      <div class="container">
        <h2 class="section-title">Vyberte si spôsob hry</h2>
        <div class="mode-cards">
          <div class="mode-card">
            <div class="card-header">
              <img src="assets/vspc.png" alt="Play vs Computer">
              <div class="card-overlay">
                <h3 class="card-title">Vs Počítač</h3>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text">Vyzvite našu AI a zahrajte neskutočnú hru. Zdokonalte svoju stratégiu proti dokonalému súperovi.</p>
              <button (click)="navigateToBotPage()" href="#" class="btn btn-primary btn-block">Play vs Computer</button>
            </div>
          </div>

          <div class="mode-card">
            <div class="card-header">
              <img src="https://images.unsplash.com/photo-1586165368502-1bad197a6461?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="Play with Friends">
              <div class="card-overlay">
                <h3 class="card-title">Proti Kamarátovi</h3>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text">Pozvite priateľov na zápas o tom kto je lepší. Stretnite sa a hrajte spolu.</p>
              <button (click)="navigateToPlayerPage()" href="#" class="btn btn-primary btn-block">Play with Friends</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
</html>
