@if (isAdmin()) {
  <div>
    <h2>Hello! You can only see this if you're logged in as Admin!</h2>
    @if (dataSource) {
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let member"> {{ member }} </td>

          <tr mat-header-row *matHeaderRowDef="['name',]"></tr>
          <tr mat-row *matRowDef="let row; columns: ['name'];"></tr>
        </ng-container>
      </table>
    }

    <div>
      <input type="file" (change)="setSelectedFile($event)">
      <button mat-raised-button (click)="uploadFile()">Upload</button>
      @if (uploadProgress > 0) {
        <mat-progress-bar class="padding-top-1" [value]="uploadProgress"></mat-progress-bar>
      }

      @if (uploadMessage) {
        <p>{{ uploadMessage }}</p>
      }
    </div>
  </div>
} @else {
  <div>
    <h2>Hello! I am sorry, but you're not allowed to see this content. Only admins can see this page.</h2>
  </div>
}

